@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --primary-color: #6e6e7c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  margin: 1em;
  margin-bottom: 0.5em;
}

.description {
  padding: 0.5em;
  font-size: large;
}

#input-div {
  margin-top: 1em;
  font-size: larger;
}

input {
  margin: 1em;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid var(--primary-color);
  outline: none;
}

#check-btn {
  margin: 1em;
  padding: 0.7rem;
  background-color: var(--primary-color);
  border: none;
  color: #ffffff;
  border-radius: 0.5em;
  font-size: large;
  cursor: pointer;
  outline: none;
}

#loader {
  display: block;
  margin: auto;
  margin-top: 1em;
  max-width: 80vw;
  margin-bottom: 10em;
}

.msg {
  font-size: larger;
  padding: 1em;
}

#message {
  font-size: x-large;
  padding: 1em;
}

#previous-palindrome-msg {
  margin-bottom: 10em;
}

.list-item-inline {
  display: inline-block;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-height: 20vh;
    text-align: center;
    border: 1px solid blACK;
    background-color: lightgreen;
    border: none;
    bottom: -120px;
    margin-bottom: 0px;
    width: 100%;
    position: absolute
  }
  
  .list{
    padding-top:20px ;
    display: flex;
    gap: 46px;
    /* text-decoration: none; */
    list-style: none;
    font-weight: bold;
    
  }
  .list li a{
    text-decoration:none;
    color:black;
  }
  .list li:hover {
    font-weight: bold;
    display: block;
    padding: 0.5rem 0.75rem;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }